cc_aditive_neurostim/
cc_additive_neurostim/

#ssh keys
id_ed25519_additive
id_ed25519_additive.pub

# python artifacts
__pycache__/
*.pyc

# bash scripts
*.sh

#data and output files
output/
datasets/

#claudecode
.claude
CLAUDE.md